<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<events>
			<initialize>
				<processor patch:before="processor[@type='Sitecore.Mvc.Pipelines.Loader.InitializeRoutes, Sitecore.Mvc']"
                           type="SitecoreCSPad.Processor.SitecoreCSPadProcessor, SitecoreCSPad" />
			</initialize>
		</events>
	</sitecore>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">			
				<dependentAssembly>
					<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" />
					<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
				</dependentAssembly>
				<!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>-->
				<dependentAssembly>
					<assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" />
					<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="4.1.0.0" />
				</dependentAssembly>
			</assemblyBinding>
	</runtime>
</configuration>